.subreddit {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.subreddit img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
    border: 3px solid;
}

.subreddit-button {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    margin-right: 8px;
    border-radius: 5px;
}

.subreddit-button:hover {
    background-color: silver;
}

.subreddit-button:focus {
    background-color: gray;
}

.subreddit-name {
    align-self: center;
}