.post {
    display: flex;
}

.post-votes {
    margin-right: 16px;
}

.post-container {
    width: 100%;
}

.post-title {
    font-weight: bold;
    margin-bottom: 16px;
}

.post-image {
    margin: auto;
    display: block;
}

.post-details {
    display: flex;
    justify-content: space-between;
}